In [ ]:
# Week 01

In [ ]:
print("Hello, buddy")

In [1]:
hello = """
    This is multi-Line comment
"""
print(hello)

    This is multi-Line comment

In [2]:
x = 12
type(x)

int

In [3]:
sport = 'baseball'
print(sport)

baseball

In [4]:
num1 = 5
num2 = 8.4
print(num1, num2)
print(type(num1), type(num2))

5 8.4
<class 'int'> <class 'float'>

In [5]:
switch = True
print(switch)

True

In [6]:
result = num1 + num2
print(result)
result += 1
print(result)
result *=num1
print(result)

13.4
14.4
72.0

In [7]:
name = "John"+" "+"Smith"
print(name)

John Smith

In [8]:
name = "John"
print("Hello {}".format(name))
print("Hello {}, you are {} years old!".format(name, 28))

Hello John
Hello John, you are 28 years old!

In [9]:
name = "John"
print(f"Hello {name}")

Hello John

In [10]:
name = "John"
print('Hello, %s' % name)

Hello, John

In [11]:
first_name = "John"
last_name = "Smith"
print("Hello, %s %s" % (first_name, last_name))

Hello, John Smith

In [12]:
word = "Hello"
print(word[0])
print(word[1])
print(word[-1])

H
e
o

In [13]:
print(word[0:2])

He

In [14]:
print(word[0:5:2])

Hlo

In [15]:
name = "john smith"
print(name.title())

John Smith

In [16]:
words = "Hello there!"
print(words.replace("!", "."))

Hello there.

In [17]:
s = "Look over that way"
print(s.find("over"))

5

In [18]:
name = "   john.  "
print(name.strip())

john.

In [19]:
s = "These words are separated by spaces"
print(s.split(" "))

['These', 'words', 'are', 'separated', 'by', 'spaces']

In [20]:
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99

In [21]:
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

In [22]:
print("*"*50)

**************************************************

In [23]:
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))

		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA

In [25]:
print("="*50)

==================================================

In [30]:
print("\t{}\t\t${}".format(p1_name.title(), p1_price))
print("\t{}\t\t${}".format(p2_name.title(), p2_price))
total = p1_price + p2_price
print("\t\t\t${}".format(total))

	Books		$49.95
	Computer		$579.99
			$629.94

			$629.94